body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
    130deg,
    
    #0F2027 66%,
    #203A43 83.5%,
    #2C5364 100%
    );
}

.container {
    max-width: 600px;
    margin: 180px auto;
    padding: 20px;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 1px white;
    border-radius: 10px;
    
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 0 grey;
}

#quote {
    margin: 0 auto;
    padding: 50px;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    animation-name: fadeIn;
    animation-duration: 1s;
}

button {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 2px;
   
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    position: static;
}

button:hover {
    background: linear-gradient(
        130deg,
        
        #0F2027 66%,
        #203A43 83.5%,
        #2C5364 100%
        );
        
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}